/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html


/* COLORS */

$colorBlack: #000;
$colorWhite: #000;
$colorWhiteDarker10: #ECECEC;
$colorWhiteDarker20: #D5D5D5;
$colorBlack60: rgba(0,0,0,0.6);
$colorPrimary: #3C79F5;

/* ROUNDING */

$roundingSmall: 12px;
$roundingRegular: 16px;
$roundingBig: 20px;

/* STROKE */

$strokeSmall: 1px;
$strokeBig: 2px;

:root {
    --font-size-big: 16px;
    --font-size-regular: 16px;
    --font-size-small: 14px;
    --font-size-tiny: 12px;
}