/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";

body {
    font-family: "Axiforma", sans-serif;
    color: $colorBlack;
    background: $colorWhiteDarker10;
    margin: 0;
}

.rotated {
    transform: scaleY(-1);
}

.text-tiny {
    font-size: var(--font-size-tiny);
    font-weight: 500;
}

.text-small {
    font-size: var(--font-size-small);
    font-weight: 400;
}

.text-regular {
    font-size: var(--font-size-regular);
    font-weight: 400;
}

.text-big {
    font-size: var(--font-size-big);
    font-weight: 500;
}

@media screen and (max-width: 480px) {
    .text-tiny {
        --font-size-tiny: 10px;
        font-weight: 400;
    }

    .text-small {
        --font-size-small: 12px;
    }

    .text-regular {
        --font-size-regular: 14px;
    }

    .text-big {
        --font-size-big: 14px;
    }
}
