.container {
    display: flex;
    flex-direction: column;
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 63px;
    gap: 18px;
    margin-bottom: 63px;
    margin-left: 120px;
    margin-right: 120px;
    width: 100%;

    @media screen and (max-width: 700px) {
        margin-left: 16px;
        margin-right: 16px;
    }
}